
// 静态资源路径
// $static_url: './../images/';
// 线上资源
$static_url: 'http://mat1.gtimg.com/sports/images/img_r/behindli/nbaschedule/';

@mixin fs ($size: 18px) {
    font-size: $size;
}

@mixin ff ($type: "Microsoft Yahei") {
    font-family: $type;
}

@mixin opacity ($opacity) {
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}

// 需要设置父容器哦
@mixin center ($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
}

@mixin clearfix () {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    *zoom: 1;
}

@mixin transition ($rules...) {
    transition: $rules;
    -webkit-transition: $rules;
    -moz-transition: $rules;
    -ms-transition: $rules;
    -o-transition: $rules;
}

@mixin transform ($rules...) {
    transform: $rules;
    -webkit-transform: $rules;
    -moz-transform: $rules;
    -ms-transform: $rules;
    -o-transform: $rules;
}

@mixin max-screen ($width...) {
    @media screen and (max-width: $width) {
        @content;
    }
}


@mixin media-query ($args...) {

    $argsMap: keywords($args);
    $num: length(map-keys($argsMap));
    $min-width: map-get($argsMap, 'min-width');
    $max-width: map-get($argsMap, 'max-width');

    @if $num == 2 {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    } @else {
        @if $min-width {
            @media screen and (min-width: $min-width) {
                @content;
            }
        } @else {
            @media screen and (max-width: $max-width) {
                @content;
            }
        }
    }

}
// 媒介查询的demo示例
// @include media-query($min-width: 250px, $max-width: 500px) {
//   body {color: red;}
// };
// http://sass-lang.com/documentation/Sass/Script/Functions.html#keywords-instance_method
