<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include nav %>

<br>
<br>
<br>

<form method="post">
    用户名：<input type="text" id="txtUserName" name="user" />
    密码：<input type="password" id="txtUserPwd" name="pwd" />
    <input type="submit" value="提交">
</form>

</body>
</html>