#container {
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	-o-perspective: 2000px;
	perspective: 2000px;

	-webkit-perspective-origin: 50% 300px;
	-moz-perspective-origin: 50% 300px;
	-ms-perspective-origin: 50% 300px;
	-o-perspective-origin: 50% 300px;
	perspective-origin: 50% 300px;
}

#cube {
	width: 600px;
	height: 600px;
	margin: 100px auto;
	position: relative; 
	top: 50px;

	-webkit-transition: transform 2s linear;
	-moz-transition: transform 2s linear;
	-ms-transition: transform 2s linear;
	-o-transition: transform 2s linear;
	transition: transform 2s linear;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.face {
	position: absolute;
	width: 560px;
	height: 560px;
	padding: 20px;
	background-color: rgba(50, 50, 50, 0.7);
	font-size: 27px;
	line-height: 1em;
	color: #fff;
	border: 1px solid #555;
	border-radius: 3px;
}

#cube .one {
	-webkit-transform: rotateX(90deg) translateZ(300px);
	-moz-transform: rotateX(90deg) translateZ(300px);
	-ms-transform: rotateX(90deg) translateZ(300px);
	-o-transform: rotateX(90deg) translateZ(300px);
	transform: rotateX(90deg) translateZ(300px);
}

#cube .two {
	-webkit-transform: translateZ(300px);
	-moz-transform: translateZ(300px);
	-ms-transform: translateZ(300px);
	-o-transform: translateZ(300px);
	transform: translateZ(300px);
}

#cube .three {
	-webkit-transform: rotateY(90deg) translateZ(300px);
	-moz-transform: rotateY(90deg) translateZ(300px);
	-ms-transform: rotateY(90deg) translateZ(300px);
	-o-transform: rotateY(90deg) translateZ(300px);
	transform: rotateY(90deg) translateZ(300px);
}

#cube .four {
	-webkit-transform: rotateY(180deg) translateZ(300px);
	-moz-transform: rotateY(180deg) translateZ(300px);
	-ms-transform: rotateY(180deg) translateZ(300px);
	-o-transform: rotateY(180deg) translateZ(300px);
	transform: rotateY(180deg) translateZ(300px);
}

#cube .five {
	-webkit-transform: rotateY(-90deg) translateZ(300px);
	-moz-transform: rotateY(-90deg) translateZ(300px);
	-ms-transform: rotateY(-90deg) translateZ(300px);
	-o-transform: rotateY(-90deg) translateZ(300px);
	transform: rotateY(-90deg) translateZ(300px);
}

#cube .six {
	-webkit-transform: rotateX(-90deg) translateZ(300px);
	-moz-transform: rotateX(-90deg) translateZ(300px);
	-ms-transform: rotateX(-90deg) translateZ(300px);
	-o-transform: rotateX(-90deg) translateZ(300px);
	transform: rotateX(-90deg) translateZ(300px);
}