<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cube</title>
	<link rel="stylesheet" type="text/css" href="cube.css">
</head>
<body>
	
<div id="container">
	<div id="cube">
        <div class="face one">
            One face
        </div>
        <div class="face two">
            Two face, Up, down, left, right.
        </div>
        <div class="face three">
            Three face.
        </div>
        <div class="face four">
            Four face.
        </div>
        <div class="face five">
            Five face.
        </div>
        <div class="face six">
            Six face .Author: Behind2
        </div>
    </div>	
</div>

<script type="text/javascript" src="cube.js"></script>
</body>
</html>